<fieldset class="form__array" data-field-type="array" data-field-name="{{name}}">
  <legend>
    {{label}}
    {{#if required}}<span class="required">*</span>{{/if}}
  </legend>

  <div class="form__array-rows" id="array-rows-{{template_id}}">
    {{#each rows}}
    <div class="form__array-row" data-row-index="{{this.index}}">
      <div class="form__array-row-header" onclick="toggleArrayRow(this)">
        <span class="form__array-row-chevron material-symbols-outlined">expand_more</span>
        <span class="form__array-row-title">{{../label}} {{this.index}}</span>
        <button type="button" class="button button--ghost button--small" onclick="event.stopPropagation();removeArrayRow(this)">
          <span class="material-symbols-outlined" style="font-size:16px">close</span>
        </button>
      </div>
      <div class="form__array-row-body">
        <div class="form__array-row-fields">
          {{#each this.sub_fields}}
          <div class="form__field">
            {{{render_field this}}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <template id="array-template-{{template_id}}">
    <div class="form__array-row" data-row-index="__INDEX__">
      <div class="form__array-row-header" onclick="toggleArrayRow(this)">
        <span class="form__array-row-chevron material-symbols-outlined">expand_more</span>
        <span class="form__array-row-title">{{label}} __INDEX__</span>
        <button type="button" class="button button--ghost button--small" onclick="event.stopPropagation();removeArrayRow(this)">
          <span class="material-symbols-outlined" style="font-size:16px">close</span>
        </button>
      </div>
      <div class="form__array-row-body">
        <div class="form__array-row-fields">
          {{#each sub_fields}}
          <div class="form__field">
            {{{render_field this}}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </template>

  <button type="button" class="button button--ghost button--small" onclick="addArrayRow('{{template_id}}')">
    <span class="material-symbols-outlined" style="font-size:16px">add</span>
    Add Row
  </button>

  {{#if error}}<p class="form__error">{{error}}</p>{{/if}}
  {{#if description}}<p class="form__help">{{description}}</p>{{/if}}
</fieldset>
