<crap-array-field>
<fieldset class="form__array" data-field-type="blocks" data-field-name="{{name}}"{{#if label_field}} data-label-field="{{label_field}}"{{/if}}>
  <legend>
    {{t label}}
    {{#if required}}<span class="required">*</span>{{/if}}
    <span class="form__array-count" id="array-count-{{template_id}}">{{row_count}}</span>
    <span class="form__array-legend-actions">
      <button type="button" class="form__array-legend-btn" data-action="toggle-all-rows" aria-label="{{t "toggle_collapse"}}">
        <span class="material-symbols-outlined icon--xs" aria-hidden="true">unfold_less</span>
      </button>
    </span>
  </legend>

  <div class="form__array-rows" id="array-rows-{{template_id}}">
    {{#each rows}}
    <div class="form__array-row{{#if ../init_collapsed}}{{#unless this.has_errors}} form__array-row--collapsed{{/unless}}{{/if}}{{#if this.has_errors}} form__array-row--has-errors{{/if}}" data-row-index="{{this.index}}">
      <div class="form__array-row-header" data-action="toggle-array-row">
        <span class="form__array-row-drag" draggable="true" data-drag data-action="noop" title="{{t "drag_to_reorder"}}" aria-hidden="true">
          <span class="material-symbols-outlined icon--sm">drag_indicator</span>
        </span>
        <button type="button" class="form__array-row-toggle" data-action="toggle-array-row"
                aria-expanded="{{#if ../init_collapsed}}{{#if this.has_errors}}true{{else}}false{{/if}}{{else}}true{{/if}}">
          <span class="form__array-row-chevron material-symbols-outlined" aria-hidden="true">expand_more</span>
          <span class="form__array-row-title">{{#if this.custom_label}}{{this.custom_label}}{{else}}{{this.block_label}} {{this.index}}{{/if}}</span>
        </button>
        {{#if this.has_errors}}<span class="form__array-row-error-badge" title="{{t "validation_errors"}}"><span class="material-symbols-outlined icon--sm" aria-hidden="true">error</span></span>{{/if}}
        <button type="button" class="form__array-row-btn" data-action="move-row-up" aria-label="{{t "move_up"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">arrow_upward</span>
        </button>
        <button type="button" class="form__array-row-btn" data-action="move-row-down" aria-label="{{t "move_down"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">arrow_downward</span>
        </button>
        <button type="button" class="form__array-row-btn" data-action="duplicate-row" aria-label="{{t "duplicate"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">content_copy</span>
        </button>
        <button type="button" class="form__array-row-btn" data-action="remove-array-row" aria-label="{{t "remove"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="form__array-row-body">
        <input type="hidden" name="{{../name}}[{{this.index}}][_block_type]" value="{{this._block_type}}" />
        <div class="form__array-row-fields">
          {{#each this.sub_fields}}
          <div class="form__field">
            {{{render_field this}}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  {{#unless rows}}<div class="form__array-empty"><p>{{t "no_items_yet_generic"}}</p></div>{{/unless}}

  {{#each block_definitions}}
  <template id="block-template-{{../template_id}}-{{this.block_type}}"{{#if this.label_field}} data-label-field="{{this.label_field}}"{{/if}}>
    <div class="form__array-row" data-row-index="__INDEX__">
      <div class="form__array-row-header" data-action="toggle-array-row">
        <span class="form__array-row-drag" draggable="true" data-drag data-action="noop" title="{{t "drag_to_reorder"}}" aria-hidden="true">
          <span class="material-symbols-outlined icon--sm">drag_indicator</span>
        </span>
        <button type="button" class="form__array-row-toggle" data-action="toggle-array-row" aria-expanded="true">
          <span class="form__array-row-chevron material-symbols-outlined" aria-hidden="true">expand_more</span>
          <span class="form__array-row-title">{{this.label}} __INDEX__</span>
        </button>
        <button type="button" class="form__array-row-btn" data-action="move-row-up" aria-label="{{t "move_up"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">arrow_upward</span>
        </button>
        <button type="button" class="form__array-row-btn" data-action="move-row-down" aria-label="{{t "move_down"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">arrow_downward</span>
        </button>
        <button type="button" class="form__array-row-btn" data-action="duplicate-row" aria-label="{{t "duplicate"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">content_copy</span>
        </button>
        <button type="button" class="form__array-row-btn" data-action="remove-array-row" aria-label="{{t "remove"}}">
          <span class="material-symbols-outlined icon--sm" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="form__array-row-body">
        <input type="hidden" name="{{../name}}[__INDEX__][_block_type]" value="{{this.block_type}}" />
        <div class="form__array-row-fields">
          {{#each this.fields}}
          <div class="form__field">
            {{{render_field this}}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </template>
  {{/each}}

  <crap-block-picker{{#if picker}} data-picker="{{picker}}"{{/if}}>
    <select id="block-type-{{template_id}}" class="form__blocks-select">
      {{#each block_definitions}}
      <option value="{{this.block_type}}"{{#if this.group}} data-group="{{this.group}}"{{/if}}{{#if this.image_url}} data-image-url="{{this.image_url}}"{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
    <button type="button" class="button button--ghost button--small"
        data-action="add-block-row" data-template-id="{{template_id}}"
        {{#if max_rows}}data-max-rows="{{max_rows}}"{{/if}}>
      <span class="material-symbols-outlined icon--sm">add</span>
      {{t "add"}} {{#if add_label}}{{add_label}}{{else}}{{t "block"}}{{/if}}
    </button>
  </crap-block-picker>

  {{#if error}}<p class="form__error">{{error}}</p>{{/if}}
  {{#if description}}<p class="form__help">{{t description}}</p>{{/if}}
</fieldset>
</crap-array-field>
