<crap-collapsible>
  <fieldset
    class="form__group {{#if collapsed}}form__group--collapsed{{/if}}"
    data-collapsible
    data-group-name="{{name}}"
  >
    <legend>
      <button
        type="button"
        class="form__group-toggle"
        data-action="toggle-group"
        aria-expanded="{{#if collapsed}}false{{else}}true{{/if}}"
      >
        <span
          class="form__group-chevron material-symbols-outlined"
          aria-hidden="true"
        >
          expand_more
        </span>
        {{t label}}
        {{#if required}}
          <span class="required">*</span>
        {{/if}}
      </button>
    </legend>
    <div class="form__group-body">
      {{#each sub_fields}}
        <div
          class="form__field{{#if (eq condition_visible false)}} form__field--hidden{{/if}}"
          {{#if condition_json}}data-condition='{{{json condition_json}}}'{{/if}}
          {{#if condition_ref}}data-condition-ref="{{condition_ref}}"{{/if}}
          data-field-name="{{name}}"
        >
          {{{render_field this}}}
        </div>
      {{/each}}
    </div>
    {{#if error}}
      <p class="form__error">{{error}}</p>
    {{/if}}
    {{#if description}}
      <p class="form__help">{{t description}}</p>
    {{/if}}
  </fieldset>
</crap-collapsible>
