<label>
  {{label}}
</label>
<div class="form__join">
  {{#if join_items}}
  <div class="form__join-list">
    {{#each join_items}}
    <a class="form__join-item" href="/admin/collections/{{../join_collection}}/{{this.id}}/edit"
      hx-get="/admin/collections/{{../join_collection}}/{{this.id}}/edit" hx-target="body" hx-push-url="true">
      <span class="form__join-item-label">{{this.label}}</span>
      <span class="material-symbols-outlined form__join-item-icon">open_in_new</span>
    </a>
    {{/each}}
  </div>
  {{else}}
  <p class="form__join-empty">{{t "no_related_items"}}</p>
  {{/if}}
  {{#if join_count}}
  <p class="form__join-count">{{join_count}} {{#if (eq join_count 1)}}{{t "item"}}{{else}}{{t "items"}}{{/if}}</p>
  {{/if}}
</div>
{{#if description}}<p class="form__help">{{description}}</p>{{/if}}
