<label for="field-{{name}}">
  {{t label}}
  {{#if required}}<span class="required">*</span>{{/if}}
  {{#if locale_locked}}<span class="form__locale-badge">{{t "shared_field"}}</span>{{/if}}
</label>
<textarea
  id="field-{{name}}"
  name="{{name}}"
  rows="12"
  class="form__json{{#if error}} form__input--error{{/if}}"
  {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
  {{#if required}}required{{/if}}
  {{#if readonly}}readonly{{/if}}
>{{value}}</textarea>
{{#if error}}<p class="form__error">{{error}}</p>{{/if}}
{{#if description}}<p class="form__help">{{t description}}</p>{{/if}}
