<label for="field-{{name}}">
  {{t label}}
  {{#if required}}<span class="required">*</span>{{/if}}
  {{#if locale_locked}}<span class="form__locale-badge">{{t "shared_field"}}</span>{{/if}}
</label>
{{#if has_many}}
<crap-tags data-field-type="number"{{#if has_min}} data-min="{{min}}"{{/if}}{{#if has_max}} data-max="{{max}}"{{/if}}>
  <input type="hidden" name="{{name}}" value="{{value}}" />
  <div class="form__tags{{#if error}} form__tags--error{{/if}}" id="field-{{name}}">
    {{#each tags}}
    <span class="form__tags-chip" data-value="{{this}}">{{this}}<button type="button" class="form__tags-chip-remove" aria-label="Remove">&times;</button></span>
    {{/each}}
    <input
      type="number"
      class="form__tags-input"
      step="{{step}}"
      {{#if placeholder}}placeholder="{{placeholder}}"{{else}}placeholder="{{t "type_and_press_enter"}}"{{/if}}
      {{#if readonly}}readonly{{/if}}
      {{#if has_min}}min="{{min}}"{{/if}}
      {{#if has_max}}max="{{max}}"{{/if}}
    />
  </div>
</crap-tags>
{{else}}
<input
  type="number"
  id="field-{{name}}"
  name="{{name}}"
  value="{{value}}"
  step="{{step}}"
  {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
  {{#if required}}required{{/if}}
  {{#if readonly}}readonly{{/if}}
  {{#if has_min}}min="{{min}}"{{/if}}
  {{#if has_max}}max="{{max}}"{{/if}}
  {{#if error}}class="form__input--error"{{/if}}
/>
{{/if}}
{{#if error}}<p class="form__error">{{error}}</p>{{/if}}
{{#if description}}<p class="form__help">{{t description}}</p>{{/if}}
