<label for="field-{{name}}">
  {{t label}}
  {{#if required}}<span class="required">*</span>{{/if}}
</label>
<div class="form__password-wrapper">
  <input
    type="password"
    name="{{name}}"
    id="field-{{name}}"
    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
    {{#if required}}required{{/if}}
    autocomplete="new-password"
    class="{{#if error}}form__input--error{{/if}}"
  />
  <button type="button" class="form__password-toggle"
          onclick="var i=this.previousElementSibling;var t=i.type==='password';i.type=t?'text':'password';this.querySelector('span').textContent=t?'visibility_off':'visibility'"
          aria-label="Toggle password visibility">
    <span class="material-symbols-outlined">visibility</span>
  </button>
</div>
{{#if description}}<p class="form__help">{{t description}}</p>{{/if}}
{{#if error}}<p class="form__error">{{error}}</p>{{/if}}
