<fieldset class="form__radio-group">
  <legend>
    {{label}}
    {{#if required}}<span class="required">*</span>{{/if}}
    {{#if locale_locked}}<span class="form__locale-badge">{{t "shared_field"}}</span>{{/if}}
  </legend>
  {{#each options}}
  <label class="form__radio-label">
    <input
      type="radio"
      name="{{../name}}"
      value="{{this.value}}"
      {{#if this.selected}}checked{{/if}}
      {{#if ../readonly}}disabled{{/if}}
    />
    <span>{{this.label}}</span>
  </label>
  {{/each}}
</fieldset>
{{#if error}}<p class="form__error">{{error}}</p>{{/if}}
{{#if description}}<p class="form__help">{{description}}</p>{{/if}}
