<label for="field-{{name}}">
  {{label}}
  {{#if required}}<span class="required">*</span>{{/if}}
  {{#if locale_locked}}<span class="form__locale-badge">{{t "shared_field"}}</span>{{/if}}
</label>
<div class="relationship-field">
  <div class="relationship-search"
    data-relationship-search="true"
    data-collection="{{relationship_collection}}"
    data-field-name="{{name}}"
    data-field-type="relationship"
    {{#if has_many}}data-has-many="true"{{/if}}
    {{#if polymorphic}}data-polymorphic="true" data-collections='{{json collections}}'{{/if}}
    {{#if picker}}data-picker="{{picker}}"{{/if}}
    {{#if required}}data-required="true"{{/if}}
    {{#if readonly}}data-readonly="true"{{/if}}
    {{#if error}}data-error="true"{{/if}}
    data-selected='{{json selected_items}}'>
  </div>
  {{#unless locale_locked}}
  <div class="relationship-field__actions">
    {{#if polymorphic}}
      {{#each collections}}
      <a class="relationship-field__action" href="/admin/collections/{{this}}/create"
        hx-get="/admin/collections/{{this}}/create" hx-target="body" hx-push-url="true">
        <span class="material-symbols-outlined" style="font-size: 16px;">add</span>
        Create {{this}}
      </a>
      {{/each}}
    {{else}}
    <a class="relationship-field__action" href="/admin/collections/{{relationship_collection}}/create"
      hx-get="/admin/collections/{{relationship_collection}}/create" hx-target="body" hx-push-url="true">
      <span class="material-symbols-outlined" style="font-size: 16px;">add</span>
      Create new
    </a>
    {{/if}}
    {{#unless has_many}}
    <a class="relationship-field__action relationship-field__view-link" href="#"
      data-view-for="field-{{name}}"
      data-collection="{{relationship_collection}}"
      style="display: none;">
      <span class="material-symbols-outlined" style="font-size: 16px;">open_in_new</span>
      View
    </a>
    {{/unless}}
  </div>
  {{/unless}}
</div>
{{#if error}}<p class="form__error">{{error}}</p>{{/if}}
{{#if description}}<p class="form__help">{{description}}</p>{{/if}}
