<label for="field-{{name}}">
  {{label}}
  {{#if required}}<span class="required">*</span>{{/if}}
  {{#if locale_locked}}<span class="form__locale-badge">{{t "shared_field"}}</span>{{/if}}
</label>
<div class="relationship-field">
  <crap-relationship-search
    collection="{{relationship_collection}}"
    field-name="{{name}}"
    field-type="relationship"
    {{#if has_many}}has-many{{/if}}
    {{#if polymorphic}}polymorphic collections='{{json collections}}'{{/if}}
    {{#if picker}}picker="{{picker}}"{{/if}}
    {{#if required}}required{{/if}}
    {{#if readonly}}readonly{{/if}}
    {{#if error}}data-error{{/if}}
    selected='{{json selected_items}}'>
  </crap-relationship-search>
  {{#unless locale_locked}}
  <div class="relationship-field__actions">
    {{#if polymorphic}}
      {{#each collections}}
      <a class="relationship-field__action" href="/admin/collections/{{this}}/create"
        hx-get="/admin/collections/{{this}}/create" hx-target="body" hx-push-url="true">
        <span class="material-symbols-outlined" style="font-size: 16px;">add</span>
        {{t "create"}} {{this}}
      </a>
      {{/each}}
    {{else}}
    <a class="relationship-field__action" href="/admin/collections/{{relationship_collection}}/create"
      hx-get="/admin/collections/{{relationship_collection}}/create" hx-target="body" hx-push-url="true">
      <span class="material-symbols-outlined" style="font-size: 16px;">add</span>
      {{t "create_new"}}
    </a>
    {{/if}}
    {{#unless has_many}}
    <a class="relationship-field__action relationship-field__view-link" href="#"
      data-view-for="field-{{name}}"
      data-collection="{{relationship_collection}}"
      style="display: none;">
      <span class="material-symbols-outlined" style="font-size: 16px;">open_in_new</span>
      {{t "view"}}
    </a>
    {{/unless}}
  </div>
  {{/unless}}
</div>
{{#if error}}<p class="form__error">{{error}}</p>{{/if}}
{{#if description}}<p class="form__help">{{description}}</p>{{/if}}
