{{#> partials/field}}
{{#if has_many}}
  {{#if locale_locked}}
  <input type="hidden" name="{{name}}" value="{{value}}" />
  <select
    id="field-{{name}}"
    multiple
    disabled
    {{#if error}}class="form__input--error"{{/if}}
  >
    {{#each options}}
    <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
    {{/each}}
  </select>
  {{else}}
  <select
    id="field-{{name}}"
    name="{{name}}"
    multiple
    {{#if required}}required{{/if}}
    {{#if error}}class="form__input--error"{{/if}}
  >
    {{#each options}}
    <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
    {{/each}}
  </select>
  {{/if}}
{{else}}
  {{#if locale_locked}}
  <input type="hidden" name="{{name}}" value="{{value}}" />
  <select
    id="field-{{name}}"
    disabled
    {{#if error}}class="form__input--error"{{/if}}
  >
    <option value="">{{t "select_placeholder"}}</option>
    {{#each options}}
    <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
    {{/each}}
  </select>
  {{else}}
  <select
    id="field-{{name}}"
    name="{{name}}"
    {{#if required}}required{{/if}}
    {{#if error}}class="form__input--error"{{/if}}
  >
    <option value="">{{t "select_placeholder"}}</option>
    {{#each options}}
    <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
    {{/each}}
  </select>
  {{/if}}
{{/if}}
{{/partials/field}}
