<crap-tabs class="form__tabs" data-field-name="{{name}}" data-tabs-name="{{name}}">
  <div class="form__tabs-nav" role="tablist">
    {{#each tabs}}
    <button type="button"
            id="tab-{{../name}}-{{@index}}"
            class="form__tabs-tab{{#if @first}} form__tabs-tab--active{{/if}}"
            role="tab"
            aria-selected="{{#if @first}}true{{else}}false{{/if}}"
            aria-controls="tabpanel-{{../name}}-{{@index}}"
            data-action="switch-tab"
            data-tab-index="{{@index}}">
      {{t label}}
      {{#if error_count}}<span class="form__tabs-tab-error">{{error_count}}</span>{{/if}}
    </button>
    {{/each}}
  </div>
  {{#each tabs}}
  <div class="form__tabs-panel{{#unless @first}} form__tabs-panel--hidden{{/unless}}"
       id="tabpanel-{{../name}}-{{@index}}"
       role="tabpanel"
       aria-labelledby="tab-{{../name}}-{{@index}}"
       data-tab-panel="{{@index}}">
    {{#if description}}<p class="form__description form__tabs-description">{{t description}}</p>{{/if}}
    {{#each sub_fields}}
    <div class="form__field{{#if (eq condition_visible false)}} form__field--hidden{{/if}}"
      {{#if condition_json}}data-condition='{{{json condition_json}}}'{{/if}}
      {{#if condition_ref}}data-condition-ref="{{condition_ref}}"{{/if}}
      data-field-name="{{name}}">
      {{{render_field this}}}
    </div>
    {{/each}}
  </div>
  {{/each}}
</crap-tabs>
