<label for="field-{{name}}">
  {{label}}
  {{#if required}}<span class="required">*</span>{{/if}}
  {{#if locale_locked}}<span class="form__locale-badge">{{t "shared_field"}}</span>{{/if}}
</label>
{{#if has_many}}
<div class="upload-field upload-field--has-many">
  <div class="relationship-search"
    data-relationship-search="true"
    data-collection="{{relationship_collection}}"
    data-field-name="{{name}}"
    data-has-many="true"
    data-field-type="upload"
    {{#if picker}}data-picker="{{picker}}"{{/if}}
    {{#if required}}data-required="true"{{/if}}
    {{#if readonly}}data-readonly="true"{{/if}}
    {{#if error}}data-error="true"{{/if}}
    data-selected='{{json selected_items}}'>
  </div>
  {{#unless locale_locked}}
  <div class="upload-field__actions">
    <a class="relationship-field__action" href="/admin/collections/{{relationship_collection}}/create"
      hx-get="/admin/collections/{{relationship_collection}}/create" hx-target="body" hx-push-url="true">
      <span class="material-symbols-outlined" style="font-size: 16px;">upload</span>
      Upload new
    </a>
  </div>
  {{/unless}}
</div>
{{else}}
<div class="upload-field" data-upload-field>
  <div class="upload-field__preview" {{#unless selected_preview_url}}style="display: none;"{{/unless}}>
    {{#if selected_preview_url}}
    <img src="{{selected_preview_url}}" alt="Preview" />
    {{/if}}
  </div>
  <div class="upload-field__info" {{#unless selected_filename}}style="display: none;"{{/unless}}>
    {{#if selected_filename}}
    <span class="material-symbols-outlined" style="font-size: 16px;">description</span>
    <span class="upload-field__filename">{{selected_filename}}</span>
    {{/if}}
  </div>
  {{#if locale_locked}}
  <input type="hidden" name="{{name}}" value="{{value}}" />
  <div class="relationship-search"
    data-relationship-search="true"
    data-collection="{{relationship_collection}}"
    data-field-name="{{name}}"
    data-field-type="upload"
    data-readonly="true"
    data-selected='{{json selected_items}}'>
  </div>
  {{else}}
  <div class="relationship-search"
    data-relationship-search="true"
    data-collection="{{relationship_collection}}"
    data-field-name="{{name}}"
    data-field-type="upload"
    {{#if picker}}data-picker="{{picker}}"{{/if}}
    {{#if required}}data-required="true"{{/if}}
    {{#if error}}data-error="true"{{/if}}
    data-selected='{{json selected_items}}'>
  </div>
  {{#if relationship_collection}}
  <div class="upload-field__actions">
    <a class="relationship-field__action" href="/admin/collections/{{relationship_collection}}/create"
      hx-get="/admin/collections/{{relationship_collection}}/create" hx-target="body" hx-push-url="true">
      <span class="material-symbols-outlined" style="font-size: 16px;">upload</span>
      Upload new
    </a>
  </div>
  {{/if}}
  {{/if}}
</div>
{{/if}}
{{#if error}}<p class="form__error">{{error}}</p>{{/if}}
{{#if description}}<p class="form__help">{{description}}</p>{{/if}}
