<div class="edit-sidebar">
  {{!-- Save panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-body">
      <div class="edit-sidebar__actions">
        {{#if collection.has_drafts}}
          {{#if editing}}
            <button type="submit" form="edit-form" name="_action" value="publish" class="button button--primary">
              {{t "publish"}}
            </button>
            <button type="submit" form="edit-form" name="_action" value="save_draft" class="button button--secondary">
              {{t "save_draft"}}
            </button>
            {{#if (eq document.status "published")}}
            <button type="submit" form="edit-form" name="_action" value="unpublish" class="button button--ghost">
              {{t "unpublish"}}
            </button>
            {{/if}}
          {{else}}
            <button type="submit" form="edit-form" name="_action" value="publish" class="button button--primary">
              {{t "publish"}}
            </button>
            <button type="submit" form="edit-form" name="_action" value="save_draft" class="button button--secondary">
              {{t "save_as_draft"}}
            </button>
          {{/if}}
        {{else}}
          <button type="submit" form="edit-form" class="button button--primary">
            {{#if editing}}{{t "update"}}{{else}}{{t "create"}}{{/if}} {{collection.singular_name}}
          </button>
        {{/if}}
        <div id="upload-loading" class="edit-sidebar__save-indicator">
          <span class="loading-indicator__spinner"></span>
          <span>{{t "saving"}}&hellip;</span>
        </div>
        <a class="button button--ghost" href="/admin/collections/{{collection.slug}}"
          hx-get="/admin/collections/{{collection.slug}}" hx-target="body" hx-push-url="true">
          {{t "cancel"}}
        </a>
      </div>
    </div>
  </div>

  {{#if has_locales}}
  {{!-- Locale selector panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">translate</span>
      {{t "locale"}}
    </div>
    <div class="edit-sidebar__panel-body">
      <div class="locale-selector">
        {{#each locales}}
        <a class="locale-selector__item {{#if selected}}locale-selector__item--active{{/if}}"
          href="?locale={{value}}"
          hx-get="{{#if ../editing}}/admin/collections/{{../collection.slug}}/{{../document.id}}?locale={{value}}{{else}}/admin/collections/{{../collection.slug}}/create?locale={{value}}{{/if}}"
          hx-target="body" hx-push-url="true">
          {{label}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if editing}}
  {{!-- Document meta panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">info</span>
      {{t "document"}}
    </div>
    <div class="edit-sidebar__panel-body">
      <div class="edit-sidebar__meta">
        {{#if collection.has_drafts}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "status"}}</span>
          <span class="edit-sidebar__meta-value"><span class="badge badge--{{document.status}}">{{document.status}}</span></span>
        </div>
        {{/if}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "id"}}</span>
          <span class="edit-sidebar__meta-value">{{document.id}}</span>
        </div>
        {{#if document.created_at}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "created"}}</span>
          <span class="edit-sidebar__meta-value">{{document.created_at}}</span>
        </div>
        {{/if}}
        {{#if document.updated_at}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "updated"}}</span>
          <span class="edit-sidebar__meta-value">{{document.updated_at}}</span>
        </div>
        {{/if}}
      </div>
    </div>
  </div>

  {{#if collection.has_versions}}
  {{!-- Version history panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">history</span>
      {{t "version_history"}}
    </div>
    <div class="edit-sidebar__panel-body">
      {{#if versions}}
      <div class="edit-sidebar__versions">
        {{#each versions}}
        <div class="edit-sidebar__version-row">
          <div class="edit-sidebar__version-info">
            <span class="edit-sidebar__version-number">v{{this.version}}</span>
            <span class="badge badge--{{this.status}}">{{this.status}}</span>
          </div>
          <div class="edit-sidebar__version-meta">{{this.created_at}}</div>
          {{#unless this.latest}}
          <form method="post" action="/admin/collections/{{../collection.slug}}/{{../document.id}}/versions/{{this.id}}/restore" style="margin:0;">
            <button type="submit" class="button button--ghost button--small">{{t "restore"}}</button>
          </form>
          {{/unless}}
        </div>
        {{/each}}
      </div>
      {{#if has_more_versions}}
      <a class="edit-sidebar__versions-link"
        href="/admin/collections/{{collection.slug}}/{{document.id}}/versions"
        hx-get="/admin/collections/{{collection.slug}}/{{document.id}}/versions"
        hx-target="body" hx-push-url="true">
        {{t "view_all_versions"}}
      </a>
      {{/if}}
      {{/if}}
    </div>
  </div>
  {{/if}}

  {{!-- Actions panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">more_horiz</span>
      {{t "actions"}}
    </div>
    <div class="edit-sidebar__panel-body">
      <crap-confirm message="{{t "confirm_delete_sidebar" name=collection.singular_name}}">
        <form method="post" action="/admin/collections/{{collection.slug}}/{{document.id}}"
          hx-post="/admin/collections/{{collection.slug}}/{{document.id}}"
          hx-target="body">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="button button--danger" style="width: 100%;">
            {{t "delete"}} {{collection.singular_name}}
          </button>
        </form>
      </crap-confirm>
    </div>
  </div>
  {{/if}}
</div>
