<div class="edit-sidebar">
  {{!-- Save panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-body">
      <div class="edit-sidebar__actions">
        {{#if collection.has_drafts}}
          {{#if editing}}
            <button type="submit" name="_action" value="publish" class="button button--primary">
              {{t "publish"}}
            </button>
            <button type="submit" name="_action" value="save_draft" class="button button--secondary">
              {{t "save_draft"}}
            </button>
            {{#if (eq document.status "published")}}
            <button type="submit" name="_action" value="unpublish" class="button button--ghost">
              {{t "unpublish"}}
            </button>
            {{/if}}
          {{else}}
            <button type="submit" name="_action" value="publish" class="button button--primary">
              {{t "publish"}}
            </button>
            <button type="submit" name="_action" value="save_draft" class="button button--secondary">
              {{t "save_as_draft"}}
            </button>
          {{/if}}
        {{else}}
          <button type="submit" class="button button--primary">
            {{#if editing}}{{t "update"}}{{else}}{{t "create"}}{{/if}} {{collection.singular_name}}
          </button>
        {{/if}}
        <div id="upload-loading" class="edit-sidebar__save-indicator">
          <span class="loading-indicator__spinner"></span>
          <span>{{t "saving"}}&hellip;</span>
        </div>
        <a class="button button--ghost" href="/admin/collections/{{collection.slug}}"
          hx-get="/admin/collections/{{collection.slug}}" hx-target="body" hx-push-url="true">
          {{t "cancel"}}
        </a>
      </div>
    </div>
  </div>

  {{#if sidebar_fields}}
  {{!-- Sidebar fields panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">tune</span>
      {{t "fields"}}
    </div>
    <div class="edit-sidebar__panel-body">
      {{#each sidebar_fields}}
      <div class="form__field{{#if (eq condition_visible false)}} form__field--hidden{{/if}}"
        {{#if condition_json}}data-condition='{{{json condition_json}}}'{{/if}}
        {{#if condition_ref}}data-condition-ref="{{condition_ref}}"{{/if}}
        data-field-name="{{name}}">
        {{{render_field this}}}
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if has_locales}}
  {{!-- Locale selector panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">translate</span>
      {{t "locale"}}
    </div>
    <div class="edit-sidebar__panel-body">
      <div class="locale-selector">
        {{#each locales}}
        <a class="locale-selector__item {{#if selected}}locale-selector__item--active{{/if}}"
          href="?locale={{value}}"
          hx-get="{{#if ../editing}}/admin/collections/{{../collection.slug}}/{{../document.id}}?locale={{value}}{{else}}/admin/collections/{{../collection.slug}}/create?locale={{value}}{{/if}}"
          hx-target="body" hx-push-url="true">
          {{label}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if editing}}
  {{!-- Document meta panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">info</span>
      {{t "document"}}
    </div>
    <div class="edit-sidebar__panel-body">
      <div class="edit-sidebar__meta">
        {{#if collection.has_drafts}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "status"}}</span>
          <span class="edit-sidebar__meta-value"><span class="badge badge--{{document.status}}">{{document.status}}</span></span>
        </div>
        {{/if}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "id"}}</span>
          <span class="edit-sidebar__meta-value">{{document.id}}</span>
        </div>
        {{#if document.created_at}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "created"}}</span>
          <span class="edit-sidebar__meta-value"><time datetime="{{document.created_at}}">{{document.created_at}}</time></span>
        </div>
        {{/if}}
        {{#if document.updated_at}}
        <div class="edit-sidebar__meta-row">
          <span class="edit-sidebar__meta-label">{{t "updated"}}</span>
          <span class="edit-sidebar__meta-value"><time datetime="{{document.updated_at}}">{{document.updated_at}}</time></span>
        </div>
        {{/if}}
      </div>
    </div>
  </div>

  {{#if collection.has_versions}}
  {{> components/version_sidebar}}
  {{/if}}

  {{!-- Actions panel --}}
  <div class="edit-sidebar__panel">
    <div class="edit-sidebar__panel-header">
      <span class="material-symbols-outlined">more_horiz</span>
      {{t "actions"}}
    </div>
    <div class="edit-sidebar__panel-body">
      <button type="button" class="button button--danger" style="width: 100%;"
        hx-delete="/admin/collections/{{collection.slug}}/{{document.id}}"
        hx-target="body"
        hx-confirm="{{t "confirm_delete_sidebar" name=collection.singular_name}}">
        {{t "delete"}} {{collection.singular_name}}
      </button>
    </div>
  </div>
  {{/if}}
</div>
