<tr>
  <td>
    <a class="items-row__link" href="/admin/collections/{{collection.slug}}/{{this.id}}"
      hx-get="/admin/collections/{{collection.slug}}/{{this.id}}" hx-target="body" hx-push-url="true">
      {{#if this.thumbnail_url}}
      <img class="items-row__thumbnail" src="{{this.thumbnail_url}}" alt="" loading="lazy" />
      {{/if}}
      {{#if this.title_value}}{{this.title_value}}{{else}}{{this.id}}{{/if}}
    </a>
  </td>
  <td>{{this.created_at}}</td>
  <td>
    <a class="button button--ghost button--small" href="/admin/collections/{{collection.slug}}/{{this.id}}/delete"
      hx-get="/admin/collections/{{collection.slug}}/{{this.id}}/delete" hx-target="body" hx-push-url="true">
      <span class="material-symbols-outlined">delete</span>
    </a>
  </td>
</tr>
