<tr>
  <td>
    <a class="items-row__link" href="/admin/collections/{{collection.slug}}/{{this.id}}"
      hx-get="/admin/collections/{{collection.slug}}/{{this.id}}" hx-target="body" hx-push-url="true">
      {{#if this.thumbnail_url}}
      <img class="items-row__thumbnail" src="{{this.thumbnail_url}}" alt="" loading="lazy" />
      {{/if}}
      {{#if this.title_value}}{{this.title_value}}{{else}}{{this.id}}{{/if}}
    </a>
  </td>
  {{#each this.cells}}
  <td>
    {{#if this.is_badge}}<span class="badge badge--{{this.value}}">{{this.value}}</span>{{/if}}
    {{#if this.is_date}}<crap-time datetime="{{this.value}}">{{this.value}}</crap-time>{{/if}}
    {{#if this.is_bool}}
      {{#if this.value}}<span class="material-symbols-outlined icon--success">check</span>{{else}}<span class="material-symbols-outlined icon--muted">remove</span>{{/if}}
    {{/if}}
    {{#unless this.is_badge}}{{#unless this.is_date}}{{#unless this.is_bool}}{{this.value}}{{/unless}}{{/unless}}{{/unless}}
  </td>
  {{/each}}
  <td>
    <a class="button button--ghost button--small" href="/admin/collections/{{collection.slug}}/{{this.id}}/delete"
      hx-get="/admin/collections/{{collection.slug}}/{{this.id}}/delete" hx-target="body" hx-push-url="true"
      aria-label="{{t "delete"}}">
      <span class="material-symbols-outlined" aria-hidden="true">delete</span>
    </a>
  </td>
</tr>
