<table class="table">
  <thead>
    <tr>
      <th>{{#if collection.title_field}}{{collection.title_field}}{{else}}{{t "id"}}{{/if}}</th>
      {{#if has_drafts}}<th>{{t "status"}}</th>{{/if}}
      <th>{{t "created"}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    {{> collections/items_row collection=../collection}}
    {{/each}}
  </tbody>
</table>
