{{#if page.breadcrumbs}}
<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol>
    {{#each page.breadcrumbs}}
    <li>
      {{#if this.url}}
      <a href="{{this.url}}" hx-get="{{this.url}}" hx-target="body" hx-push-url="true">{{t this.label name=this.label_name}}</a>
      {{else}}
      <span>{{t this.label name=this.label_name}}</span>
      {{/if}}
    </li>
    {{/each}}
  </ol>
</nav>
{{else}}
{{!-- Backward compat: fall back to top-level breadcrumbs --}}
{{#if breadcrumbs}}
<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol>
    {{#each breadcrumbs}}
    <li>
      {{#if this.url}}
      <a href="{{this.url}}" hx-get="{{this.url}}" hx-target="body" hx-push-url="true">{{t this.label name=this.label_name}}</a>
      {{else}}
      <span>{{t this.label name=this.label_name}}</span>
      {{/if}}
    </li>
    {{/each}}
  </ol>
</nav>
{{/if}}
{{/if}}
