{{#if pagination}}
<nav class="pagination">
  {{#if pagination.has_prev}}
  <a class="button button--ghost" href="{{pagination.prev_url}}"
    hx-get="{{pagination.prev_url}}" hx-target="body" hx-push-url="true">
    {{t "previous"}}
  </a>
  {{/if}}

  {{#if pagination.page}}
  <span class="pagination__info">{{t "page_of" page=pagination.page total=pagination.total_pages}}</span>
  {{/if}}

  {{#if pagination.has_next}}
  <a class="button button--ghost" href="{{pagination.next_url}}"
    hx-get="{{pagination.next_url}}" hx-target="body" hx-push-url="true">
    {{t "next"}}
  </a>
  {{/if}}
</nav>
{{/if}}
