{{!-- Shared version history sidebar panel used by both collections and globals edit sidebars.
     Expects: versions (array), has_more_versions (bool), restore_url_prefix (string), versions_url (string) --}}
<div class="edit-sidebar__panel">
  <div class="edit-sidebar__panel-header">
    <span class="material-symbols-outlined">history</span>
    {{t "version_history"}}
  </div>
  <div class="edit-sidebar__panel-body">
    {{#if versions}}
    <div class="edit-sidebar__versions">
      {{#each versions}}
      <div class="edit-sidebar__version-row">
        <div class="edit-sidebar__version-info">
          <span class="edit-sidebar__version-number">v{{this.version}}</span>
          <span class="badge badge--{{this.status}}">{{this.status}}</span>
        </div>
        <div class="edit-sidebar__version-meta"><crap-time datetime="{{this.created_at}}">{{this.created_at}}</crap-time></div>
        {{#unless this.latest}}
        <a class="button button--ghost button--small"
          href="{{../restore_url_prefix}}/versions/{{this.id}}/restore"
          hx-get="{{../restore_url_prefix}}/versions/{{this.id}}/restore"
          hx-target="body" hx-push-url="true">{{t "restore"}}</a>
        {{/unless}}
      </div>
      {{/each}}
    </div>
    {{#if has_more_versions}}
    <a class="edit-sidebar__versions-link"
      href="{{versions_url}}"
      hx-get="{{versions_url}}"
      hx-target="body" hx-push-url="true">
      {{t "view_all_versions"}}
    </a>
    {{/if}}
    {{/if}}
  </div>
</div>
