{{#> layout/auth title=(t "reset_password_page_title") header_title=(t "reset_password")}}

{{#if error}}
<div class="auth-card__error">{{t error}}</div>
{{#unless token}}
<a href="/admin/login" class="button button--primary auth-card__submit">{{t "back_to_login"}}</a>
{{/unless}}
{{/if}}

{{#if token}}
<form class="auth-card__form" method="POST" action="/admin/reset-password">
  <input type="hidden" name="token" value="{{token}}" />

  <div class="form__field">
    <label for="password">{{t "new_password"}}</label>
    <crap-password-toggle>
      <input type="password"
             name="password"
             id="password"
             placeholder="{{t "new_password"}}"
             required
             autocomplete="new-password"
             minlength="1" />
    </crap-password-toggle>
  </div>

  <div class="form__field">
    <label for="password_confirm">{{t "confirm_password"}}</label>
    <crap-password-toggle>
      <input type="password"
             name="password_confirm"
             id="password_confirm"
             placeholder="{{t "confirm_password"}}"
             required
             autocomplete="new-password"
             minlength="1" />
    </crap-password-toggle>
  </div>

  <button type="submit" class="button button--primary auth-card__submit">{{t "reset_password_button"}}</button>
</form>
{{/if}}

{{/layout/auth}}
