<header class="header">
  <button
    class="header__toggle"
    data-action="toggle-sidebar"
    type="button"
    aria-label="Toggle menu"
  >
    <svg
      width="20"
      height="20"
      viewbox="0 0 20 20"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    >
      <line
        x1="3"
        y1="5"
        x2="17"
        y2="5"
      />
      <line
        x1="3"
        y1="10"
        x2="17"
        y2="10"
      />
      <line
        x1="3"
        y1="15"
        x2="17"
        y2="15"
      />
    </svg>
  </button>
  <div class="header__logo">{{> partials/logo class="header__logo-icon"}}{{crap.site_name}}</div>
  <div class="header__actions">
    {{slot "page_header_actions"}}

    {{#if has_editor_locales}}
      <crap-locale-picker class="locale-picker">
        <button
          type="button"
          class="locale-picker__toggle"
          aria-label="Change content language"
          data-locale-toggle
        >
          <span class="locale-picker__badge">{{editor_locale}}</span>
        </button>
        <div
          class="locale-picker__dropdown"
          data-locale-dropdown
        >
          {{#each editor_locales}}
            <button
              type="button"
              class="locale-picker__option{{#if selected}} locale-picker__option--active{{/if}}"
              data-locale-value="{{value}}"
            >
              {{label}}
            </button>
          {{/each}}
        </div>
      </crap-locale-picker>
    {{/if}}
    {{#if available_locales}}
      <crap-ui-locale-picker class="locale-picker">
        <button
          type="button"
          class="locale-picker__toggle"
          aria-label="Change UI language"
          data-ui-locale-toggle
        >
          <span class="material-symbols-outlined icon--md">translate</span>
        </button>
        <div
          class="locale-picker__dropdown"
          data-ui-locale-dropdown
        >
          {{#each available_locales}}
            <button
              type="button"
              class="locale-picker__option{{#if (eq this ../_locale)}} locale-picker__option--active{{/if}}"
              data-ui-locale-value="{{this}}"
            >
              {{this}}
            </button>
          {{/each}}
        </div>
      </crap-ui-locale-picker>
    {{/if}}
    <crap-theme-picker class="theme-picker">
      <button
        type="button"
        class="theme-picker__toggle"
        aria-label="Change theme"
        data-theme-toggle
      >
        <span class="material-symbols-outlined icon--md">palette</span>
      </button>
      <div
        class="theme-picker__dropdown"
        data-theme-dropdown
      >
        <button
          type="button"
          class="theme-picker__option"
          data-theme-value=""
        >
          <span class="theme-picker__swatch"></span>
          {{t "light"}}
        </button>
        <button
          type="button"
          class="theme-picker__option"
          data-theme-value="rose-pine-dawn"
        >
          <span class="theme-picker__swatch"></span>
          Rosé Pine Dawn
        </button>
        <button
          type="button"
          class="theme-picker__option"
          data-theme-value="tokyo-night"
        >
          <span class="theme-picker__swatch"></span>
          Tokyo Night
        </button>
        <button
          type="button"
          class="theme-picker__option"
          data-theme-value="catppuccin"
        >
          <span class="theme-picker__swatch"></span>
          Catppuccin Mocha
        </button>
        <button
          type="button"
          class="theme-picker__option"
          data-theme-value="gruvbox"
        >
          <span class="theme-picker__swatch"></span>
          Gruvbox Dark
        </button>
      </div>
    </crap-theme-picker>
    {{#if user}}
      <span class="header__email">{{user.email}}</span>
      <form
        method="POST"
        action="/admin/logout"
        class="header__logout-form"
      >
        <button
          type="submit"
          class="button button--ghost"
        >
          {{t "logout"}}
        </button>
      </form>
    {{/if}}
  </div>
</header>
